<p>
  <h3><%= @article.title %></h3>  
</p>

<p><%= @article.text %></p>

<% if logged_in? %>

  <%= form_for [@article, @comment] do |f| %>

    <%= @comment.errors[:text].first %>
    <%= f.label :text, "Comment:" %><br/>
    <%= f.text_field :text %><br/>

    <br/>

    <%= f.submit :create, { value: "Add comment" } %>
  <% end %>
<% else %>
<% end %>

<br/><br/>

<table border ="1" cellspacing ="0">

  <thead>
    <tr>
      <th>Comments</th>
      <th>Created by</th>
      <th>Created_at</th>
      <% if current_user.comments.any? %>
        <th>Delete</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @article.comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= "#{comment.user.name} #{comment.user.surname}" %></td>
        <td><%= comment.created_at %></td>
        <% if current_user.comments.any? %>
          <td>
            <% if logged_in? && current_user == comment.user %>
              <%= link_to("delete", article_comment_path(@article, comment), :method => :delete) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>



<br/>

<%= link_to("back", articles_path)%>