<h2>
  Update your phonenumber
</h2>

<%= form_for [@user, @contact] do |f| %>

  <%= @contact.errors[:phonenumber].first %>
  <%= f.label :phonenumber, "Phonenumber" %><br/>
  <%= f.text_field :phonenumber %><br/>

  <br/>
  
  <%= f.submit :update, { value: "Update contact" } %>
  <%= link_to("Cancel", user_path(@user)) %>
<% end %>