<h2>
  Update your article
</h2>

<%= form_for [@user, @article] do |f| %>

  <%= @article.errors[:title].first %>
  <%= f.label :title, "Title" %><br/>
  <%= f.text_field :title %><br/>

  <br/>

  <%= @article.errors[:text].first %>
  <%= f.label :text, "Content" %><br/>
  <%= f.text_area :text %><br/>

  <br/>

  <%= f.submit :create, { value: "Update article" } %>
  <%= link_to("Cancel", user_path(@user)) %>

<% end %>